* {
  box-sizing: border-box;
}

body {
  background-color: #1d1f21;
  font-family: Helvetica, sans-serif;
}
h1 {
  color: #baa2a2;
  font-family: sans-serif;
  font-size: 50pt;
  text-align: center;
}
p {
  font-size: 17pt;
}
h3 {
  position: fixed;
  top: 125px;
  left: 30px;
  font-family: sans-serif;
  font-size: 17pt;
  color: #baa2a2;
}

h4 {
  color: #baa2a2;
  font-family: sans-serif;
  font-size: 40pt;

}
